@use "@/styles/variables" as *;

.book {
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-align: left;
  transition-duration: 200ms;
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.book:hover {
  color: $text-secondary;
}

.searchInput {
  margin-bottom: 0.5rem;
}

.bookList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.modalContent {
  display: flex;
  gap: 2rem;
}

.modalImageWrapper {
  display: flex;
  flex: 2;
  aspect-ratio: 1;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
  }

  @media (max-width: 420px) {
    img {
      max-width: 160px;
    }
  }
}

.modalInfo {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @media (max-width: 1000px) {
    h2 {
      font-size: 1.25rem;
    }
  }

  @media (max-width: 850px) {
    h2 {
      font-size: 1.15rem;
    }
  }
}

@media (max-width: 630px) {
  .modalImageWrapper {
    img {
      max-width: 200px;
    }
  }

  .modalContent {
    flex-direction: column;
    align-items: center;
  }
}