$bg-page: #f5f3ef;
$shared-box-bg: #ffffff;
$border-hover-color: #85837e;
$text-primary: #1f2937;
$text-secondary: #6b7280;
$hover-color: #f0ede7;
$button-active-bg-color: #dad7d0;
$button-bg-color: #f5f3ee;