@use "variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-geist-sans);
}

body {
  background-color: $bg-page;
  color: $text-primary;
}

h2 {
  font-size: 1.5rem;

  @media (max-width: 780px) {
    font-size: 1.25rem;
  }
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;

  @media (max-width: 630px) {
    flex-direction: column;
    align-items: center;
  }
}

.sharedBox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: $shared-box-bg;
  width: 100%;
  min-width: 0;
  max-width: 400px;
  padding: 1rem;
  border-radius: 0.75rem;
  height: fit-content;

  button {
    all: unset;
    cursor: pointer;
    transition-duration: 200ms;
  }

  input,
  textarea {
    font-size: 0.9rem;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    transition-duration: 200ms;
    box-shadow: 0 1px 2px 0 #ccc;
  }

  textarea {
    resize: vertical;
  }

  input:hover,
  input:focus,
  textarea:hover,
  textarea:focus {
    border-color: $border-hover-color;
  }

  input:focus,
  textarea:focus {
    outline: none;
  }

  @media (max-width: 630px) {
    width: 100%;
    max-width: 350px;
  }

  @media (max-width: 520px) {}

  @media (max-width: 380px) {
    min-width: 100%;
  }
}

.sharedBox.fix {
  position: sticky;
  top: 1rem;
  max-width: 350px;

  @media (max-width: 630px) {
    position: unset;
    top: unset;
  }
}