@use "@/styles/variables" as *;

.errorMessage {
  color: red;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .descriptionHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    div {
      color: $text-secondary;
      font-size: 0.8rem;
    }
  }

  button {
    background-color: $button-bg-color;
    border: 1px solid transparent;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 #ccc;
    margin-top: 0.5rem;
    font-size: 1rem;
  }

  button:hover {
    background-color: $hover-color;
  }

  button:active {
    background-color: $button-active-bg-color;
  }

  .photoHeader {
    display: flex;
    flex-direction: row;
  }

  .URLvsFile {
    cursor: pointer;
    color: $text-secondary;
    transition-duration: 200ms;
    margin-left: auto;
    font-size: 0.9rem;
  }

  .URLvsFile:hover {
    color: $border-hover-color;
  }
}